*.png
tarea1.gro
*.xml
*.csv
dogma.gro
example.gro
Figure1c.gro
Figure1d.gro
PCA.gro
test_NX.gro
gro.gro
network bacterial behavior.gro
OrPerceptron.gro
output_phb.csv
output_response.csv
PHB optimization network.gro
Readme for Windows.docx
standard.gro
WIN-Executable/.DS_Store
WIN-Executable/gro - Shortcut.lnk
WIN-Executable/Readme for Windows.docx
WIN-Executable/GRO/gro.gro
WIN-Executable/GRO/.DS_Store
WIN-Executable/GRO/standard.gro
WIN-Executable/GRO/release/.DS_Store
WIN-Executable/GRO/release/Cell.o
WIN-Executable/GRO/release/EColi.o
WIN-Executable/GRO/release/D3Dcompiler_47.dll
WIN-Executable/GRO/release/gro.exe
WIN-Executable/GRO/release/gro.exe - Acceso directo.lnk
WIN-Executable/GRO/release/Gro.o
WIN-Executable/GRO/release/groicon.ico
WIN-Executable/GRO/release/GroPainter.o
WIN-Executable/GRO/release/GroThread.o
WIN-Executable/GRO/release/GroWidget.o
WIN-Executable/GRO/release/gui.o
WIN-Executable/GRO/release/libEGL.dll
WIN-Executable/GRO/release/libgcc_s_dw2-1.dll
WIN-Executable/GRO/release/libGLESV2.dll
WIN-Executable/GRO/release/libstdc++-6.dll
WIN-Executable/GRO/release/libwinpthread-1.dll
WIN-Executable/GRO/release/main.o
WIN-Executable/GRO/release/Messages.o
WIN-Executable/GRO/release/moc_GroThread.cpp
WIN-Executable/GRO/release/moc_GroThread.o
WIN-Executable/GRO/release/moc_GroWidget.cpp
WIN-Executable/GRO/release/moc_GroWidget.o
WIN-Executable/GRO/release/moc_gui.cpp
WIN-Executable/GRO/release/moc_gui.o
WIN-Executable/GRO/release/moc_predefs.h
WIN-Executable/GRO/release/opengl32sw.dll
WIN-Executable/GRO/release/qrc_icons.cpp
WIN-Executable/GRO/release/qrc_icons.o
WIN-Executable/GRO/release/Qt5Core.dll
WIN-Executable/GRO/release/Qt5Gui.dll
WIN-Executable/GRO/release/Qt5Svg.dll
WIN-Executable/GRO/release/Qt5Widgets.dll
WIN-Executable/GRO/release/reaction.o
WIN-Executable/GRO/release/Signal.o
WIN-Executable/GRO/release/Themes.o
WIN-Executable/GRO/release/Utility.o
WIN-Executable/GRO/release/World.o
WIN-Executable/GRO/release/Yeast.o
WIN-Executable/GRO/release/iconengines/qsvgicon.dll
WIN-Executable/GRO/release/imageformats/qgif.dll
WIN-Executable/GRO/release/imageformats/qico.dll
WIN-Executable/GRO/release/imageformats/qicns.dll
WIN-Executable/GRO/release/imageformats/qjpeg.dll
WIN-Executable/GRO/release/imageformats/qsvg.dll
WIN-Executable/GRO/release/imageformats/qtiff.dll
WIN-Executable/GRO/release/imageformats/qtga.dll
WIN-Executable/GRO/release/imageformats/qwbmp.dll
WIN-Executable/GRO/release/imageformats/qwebp.dll
WIN-Executable/GRO/release/platforms/qwindows.dll
WIN-Executable/GRO/release/translations/qt_ca.qm
WIN-Executable/GRO/release/translations/qt_cs.qm
WIN-Executable/GRO/release/translations/qt_de.qm
WIN-Executable/GRO/release/translations/qt_en.qm
WIN-Executable/GRO/release/translations/qt_fi.qm
WIN-Executable/GRO/release/translations/qt_fr.qm
WIN-Executable/GRO/release/translations/qt_he.qm
WIN-Executable/GRO/release/translations/qt_hu.qm
WIN-Executable/GRO/release/translations/qt_it.qm
WIN-Executable/GRO/release/translations/qt_ko.qm
WIN-Executable/GRO/release/translations/qt_ja.qm
WIN-Executable/GRO/release/translations/qt_lv.qm
WIN-Executable/GRO/release/translations/qt_pl.qm
WIN-Executable/GRO/release/translations/qt_ru.qm
WIN-Executable/GRO/release/translations/qt_sk.qm
WIN-Executable/GRO/release/translations/qt_uk.qm
